@model List<Amazon.S3.Model.S3Object>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@if (ViewBag.msg != "")
{
    <script>alert("@ViewBag.msg")</script>
}
<center>
    <h1>Gallery</h1>
    <br>
    <div>
        <table border="1">
            <tr style="background-color: yellow">
                <th>Image Without Using Pre-Signed URL</th>
                <th>Image With Using Pre-Signed URL</th>
                <th>Image Location Path</th>
                <th>Delete Action</th>
                <th>Download Action</th>
                <th>Download as Stream Action</th>
            </tr>

            @foreach (var  image in Model)
            {
                var imageUrl = "https://" + image.BucketName + ".s3.amazonaws.com/" + image.Key;
                <tr>
                    <td>
                        <img src="@imageUrl" width="200px" height="200" alt="">
                    </td>
                    @* <td><img src="@ViewBag.PreSignedURLList[index]" width="200px" height="200" alt=""></td> *@
                    <td>
                        <img src="@ViewBag.PreSignedURLList[Model.IndexOf(image)]" width="200px" height="200" alt="">
                    </td>
                    <td>@image.Key</td>
                    <td>
                        <a asp-action="deleteImage" asp-route-filename="@image.Key">
                            <button>Delete</button>
                        </a>
                    </td>
                    <td>
                        <a asp-action="downloadImage" asp-route-filename="@image.Key">
                            <button>Download</button>
                        </a>
                    </td>
                    <td>
                        <a asp-action="secondDownloadImage" asp-route-filename="@image.Key">Download</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</center>